---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://sitemaps.org">
  <!-- Core Static Homepage Mapping -->
  <url>
    <loc>https://seventhdaytheocraticworld.org</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for page in collections.all %}
  {%- if page.url and page.url != '/' %}
  <url>
    <loc>https://seventhdaytheocraticworld.org{{ page.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
